<!DOCTYPE html>
<html>
<head>
  <title>Interactive Machine Learning List</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.0/js-yaml.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <a href="https://github.com/stared/
interactive-machine-learning-list"><img style="position: fixed; z-index: 1000 ;top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
  <div id="app">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here --></div>
      </main>
    </div>

    <div>
      <tag-selector :all-tags="allTags"/>
    </div>

    <ul>
      <li v-for="website in websites">
        <a :href="website.url">{{ website.name }}</a> by {{ etAl(website.authors) }}<br>
        <span v-if="website.desc">
          {{ website.desc }}<br>
        </span>
        <span v-if="website.repo">
          <a :href="website.repo">source code</a> ({{ website.license }}),
        </span>
        <a v-if="website.writeup" :href="website.writeup">blog post</a><br>
        <span v-for="tag in website.tags">[{{ tag }}]</span>
        <span v-for="use in website.uses">[{{ use }}]</span>
        <br><br>
      </li>
    </ul>
  </div>

  <template id="tag-selector">
    <div> 
      <span
        v-for="tag in allTags"
        class="tag">
        [{{ tag }}]
      </span>
    </div>
  </template>

  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Title</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>

  <script src="main.js"></script>
</body>
</html>
