<!DOCTYPE html>
<html>
<head>
    <title>Interactive Machine Learning List</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.0/js-yaml.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="particles.js"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<a href="https://github.com/stared/interactive-machine-learning-list">
    <img style="position: fixed; z-index: 1000 ;top: 0; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
         alt="Fork me on GitHub">
</a>
<div id="app">
    <!-- Always shows a header, even in smaller screens. -->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Interactive Machine Learning List</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content" id="particles-js">
            <div class="page-content"><!-- Your content goes here -->
                <div class="mdl-grid">
                    <div class="mdl-cell--5-col mdl-cell" style="text-align: right">
                        <div class="illustration"></div>
                    </div>
                    <div class="mdl-cell--6-col mdl-cel">
                        <h2>A collaborative list of interactive Machine Learning, Deep Learning and Stats websites </h2>
                        <template id="tag-selector">
                            <div class="tags-wrapper">
                                <a v-for="tag in allTags"
                                   class="tag"
                                   @click="addToFilters(tag)"
                                   v-bind:class="{ active: checkActive(tag) > -1 }"
                                >
                                    {{ tag }}
                                </a>
                                <p v-if="filters.length">
                                    Selected {{filters.length}} filters
                                    <a class="tag"
                                       v-if="filters.length"
                                       style="background: rgb(255,64,129); color: white"
                                       @click="clearAllFilters"
                                    >
                                        <i class="material-icons delete">delete</i>
                                        Clear
                                    </a>
                                </p>
                            </div>
                        </template>
                    </div>
                </div>


                <ul class="mdl-grid">
                    <li class="mdl-cell mdl-cell--4-col"
                        v-for="(website, id) in websites"
                    >
                        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                            <div class="background" :style="{backgroundImage: 'url(' + website.img + ')'}">
                                <div class="mdl-card__title">
                                    <h3 class="mdl-card__title-text">
                                        {{ website.name }}
                                        <template v-if="website.license">({{ website.license }})</template>
                                    </h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    by {{ etAl(website.authors) }}
                                    <div class="mdl-grid" v-if="website.tags && website.uses">

                                        <div>
                                            <i class="material-icons" :id="id + 'tagIcon'">label</i>
                                            <div class="mdl-tooltip" :data-mdl-for="id + 'tagIcon'">
                                                Tags
                                            </div>
                                            <span v-for="tag in website.tags">
                                          <a class="tag">{{ tag }}</a>
                                        </span>
                                        </div>

                                        <div>

                                            <i class="material-icons" :id="id + 'tagUses'">timeline</i>
                                            <div class="mdl-tooltip" :data-mdl-for="id + 'tagUses'">
                                                Uses
                                            </div>
                                            <span v-for="use in website.uses">
                                            <a class="tag">{{ use }}</a>
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mdl-card__menu" v-if="website.repo">
                                    <a :href="website.repo" :id="id + 'repo'">
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                            <i class="material-icons">code</i>
                                        </button>
                                    </a>
                                    <div class="mdl-tooltip" :data-mdl-for="id + 'repo'">
                                        Repository
                                    </div>

                                    <a :href="website.ulr" :id="id + 'www'">
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                            <i class="material-icons">language</i>
                                        </button>
                                    </a>
                                    <div class="mdl-tooltip" :data-mdl-for="id + 'www'">
                                        Website
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-card__actions mdl-card--border mdl-card--bottom"
                                 v-if="website.writeup || website.desc">
                                <span v-if="website.desc"> {{ website.desc }}</span><br>
                                <a :href="website.writeup"
                                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">Interactive Machine Learning List</div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Authors</a></li>
                            <li><a href="#">Project on Github</a></li>
                            <li><a href='https://pl.freepik.com/darmowe-wektory/mozg-mechaniczna_769574.htm'>Illustration
                                Designed by Freepik
                            </a></li>

                        </ul>
                    </div>
                </footer>
            </div>
        </main>
    </div>


    <!--app end-->
</div>
<script src="main.js"></script>

</body>
</html>
