<!DOCTYPE html>
<html>
<head>
  <title>Interactive Machine Learning List</title>
  <meta name="description" content="A collaborative list of interactive Machine Learning, Deep Learning and Statistics websites.">
  <meta name="keywords" content="museum, scavenger hunt, object detection, ai">
  <meta name="author" content="Piotr Migdał, Jakub Fogel, contributors">
  <meta property="og:image" content="https://p.migdal.pl/interactive-machine-learning-list/screenshot.png" >
  <meta charset="utf-8">
  <script src="https://www.unpkg.com/vue@2.7.14/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.0/js-yaml.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css"/>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="src/style.css">
  <script src="src/particles.js"></script>
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
  <div id="app">
    <!-- Always shows a header, even in smaller screens. -->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Interactive Machine Learning, Deep Learning and Statistics websites</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="https://github.com/stared/interactive-machine-learning-list/">GitHub repo</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content" id="particles-js">
        <div class="page-content"><!-- Your content goes here -->
          <div class="mdl-grid">
            <div class="mdl-cell--5-col mdl-cell" style="text-align: right">
              <div class="illustration"></div>
            </div>
            <div class="mdl-cell--6-col mdl-cel" style="padding: 0 2rem">
              <h4>Open source: see its <a href="https://github.com/stared/interactive-machine-learning-list/">GitHub repository</a></h4>
              <h4>It's collaborative: add visualizations via <a href="https://github.com/stared/interactive-machine-learning-list/pulls">pull requests</a></h3>
              <h4>If you like it,
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=A%20collaborative%20list%20of%20interactive%20Machine%20Learning,%20Deep%20Learning%20and%20Statistics%20websites%20@InBrowserAI" data-size="large">share it on Twitter</a>, if you want to create such visualizations, sign up for <a href="https://inbrowser.ai/">In Browser AI</a>!</h4>
              <template id="tag-selector">
                <div class="tags-wrapper">
                  <a v-for="tag in allTags"
                  class="tag"
                  @click="addRemoveToFilters(tag)"
                  v-bind:class="{ active: checkActive(tag) }"
                  v-if="getTagCount(tag) > 0"
                  >
                  {{tag}}
                  <small class="tag-count">{{getTagCount(tag)}}</small>
                </a>
                <p v-if="filters.length">
                  Selected {{filters.length}} filters
                  <a class="tag"
                  v-if="filters.length"
                  style="background: rgb(255,64,129); color: white"
                  @click="clearAllFilters"
                  >
                  <i class="material-icons delete">delete</i>
                  Clear
                </a>
              </p>
            </div>
          </template>
        </div>
      </div>


      <ul class="mdl-grid" style="background: rgba(254,254,254, 1);">
        <li class="mdl-cell mdl-cell--4-col"
        v-for="(website, id) in filteredWebsites"
        >
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="background" :style="{backgroundImage: 'url(' + website.img + ')'}">
            <div class="mdl-card__title">
              <h3 class="mdl-card__title-text">
                <a :href="website.url" style="color: white">{{ website.name }}</a>
              </h3>
            </div>
            <div class="mdl-card__supporting-text">
              <span class="authors">
                by {{ etAl(website.authors) }}
              </span>
              <div class="mdl-grid" v-if="website.tags && website.uses">
                <div>
                  <i class="material-icons" :id="id + 'tagIcon'">label</i>
                  <div class="mdl-tooltip" :data-mdl-for="id + 'tagIcon'">
                    Tags
                  </div>
                  <span v-for="tag in website.tags">
                    <a class="tag" @click="addRemoveToFilters(tag)" v-bind:class="{ active: checkActive(tag) }">{{ tag }}</a>
                  </span>
                </div>
                <div>
                  <i class="material-icons" :id="id + 'tagUses'">timeline</i>
                  <div class="mdl-tooltip" :data-mdl-for="id + 'tagUses'">
                    Uses
                  </div>
                  <span v-for="use in website.uses">
                    <a class="tag" @click="addRemoveToFilters(use)" v-bind:class="{ active: checkActive(use) }">{{ use }}</a>
                  </span>
                </div>
                <div>
                  <i class="material-icons" :id="id + 'tagLicense'">copyright</i>
                  <div class="mdl-tooltip" :data-mdl-for="id + 'tagLicense'">
                    License
                  </div>
                  <span v-if="website.license">
                    <a class="tag" @click="addRemoveToFilters(website.license)" v-bind:class="{ active: checkActive(website.license) }">{{ website.license }}</a>
                  </span>
                </div>
              </div>
            </div>

            <div class="mdl-card__menu">
              <a :href="website.repo" :id="id + 'repo'" v-if="website.repo">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">code</i>
                </button>
              </a>
              <div class="mdl-tooltip" :data-mdl-for="id + 'repo'">
                Repository
              </div>

              <a :href="website.url" :id="id + 'www'" v-if="website.url">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">language</i>
                </button>
              </a>
              <div class="mdl-tooltip" :data-mdl-for="id + 'www'">
                Website
              </div>
            </div>
          </div>

          <div class="mdl-card__actions mdl-card--border mdl-card--bottom"
          v-if="website.writeup || website.desc">
          <span v-if="website.desc"> {{ website.desc }}</span><br>
          <a :href="website.writeup"
          v-if="website.writeup">
          see also this article
        </a>
      </div>
    </div>
  </li>
</ul>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/stared/interactive-machine-learning-list">open source (contribute!)</a></li>
      <li>idea by <a href="https://p.migdal.pl">Piotr Migdał</a></li>
      <li>front-end by <a href="https://github.com/fogelkuba">Jakub Fogel</a></li>
      <li>brain graphics by <a href='https://pl.freepik.com/darmowe-wektory/mozg-mechaniczna_769574.htm'>Freepik
      </a></li>
      <li>contributions by <a href="https://github.com/stared/interactive-machine-learning-list/graphs/contributors">many</a></li>
    </ul>
    <p>...aaand if you want to create such visualizations by yourself, see <a href="https://inbrowser.ai/">In Browser AI</a></p>
  </div>
</footer>
</div>
</main>
</div>


<!--app end-->
</div>
<script src="src/main.js"></script>

</body>
</html>
