html{
    /*font-size: 14px;*/
}
body{
    background: rgba(0,0,0,.1);
}

a{
    margin-left: .5rem;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
ul > li {
    list-style: none;
}
.mdl-layout__container {
    top: 0;
}
.mdl-navigation{
    padding: 0 1rem;
}
.page-content > .mdl-grid{
    padding-top: 3rem;
}
.mdl-cell{
    overflow-y: auto;
    /*margin: 1rem;*/
    /*box-sizing: border-box;*/
}
.mdl-card{
    min-height: 230px;
    margin: 0 auto;
    width: 80%;
    position: relative;
    z-index: 2;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    back
}
.mdl-card__title{
    max-width: 80%;
    padding-bottom: 0;
}
.mdl-card__supporting-text{
    padding: 0 1rem;
}
.mdl-card__supporting-text > span{
    padding-top: .5rem;
}
.mdl-card__supporting-text .tag{
    margin-bottom: .5rem;
}
.mdl-card__supporting-text i.material-icons{
   font-size: 20px;
    position: relative;
    top: 0.35rem;
}
.mdl-card__supporting-text > .mdl-grid {
    padding: 0;
}
.mdl-card--bottom{
    bottom: 0;
    position: absolute;
}

.mdl-card__actions{
    font-size: 14px;
  padding: 0 1rem;
}
.right{
    text-align: right;
}

.particles-js-canvas-el{
   position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.tags-wrapper{
    margin: 2rem auto;
    max-width: 70vw;
    /*display: block;*/
    position: relative;
    z-index: 3;
    text-align: center;
}

.tag{
    display: inline-block;
    border: 1px solid rgb(255,64,129);
    color: rgb(255,64,129);
    padding: 0.15rem .75rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: .5rem;
}
.tag:hover{
    color: white;
    background: rgba(255,64,129, 0.75);
    text-decoration: none;
}
.tag.active{
    color: white;
    background: rgb(255,64,129);
    text-decoration: none;
}

.delete{
    position: relative;
    top: .25rem;
    font-size: 16px;
}

footer{
    position: relative;
    z-index: 3;
    margin-top: 3rem;
}