* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
}

body {
    background: rgba(0, 0, 0, .1);
}

h2 {
    color: #555;
    font-weight: bold;
}

a {
    /*margin-right: .5rem;*/
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

ul > li {
    list-style: none;
}

.mdl-layout__container {
    top: 0;
}

.mdl-navigation {
    padding: 0 1rem;
}

.page-content > .mdl-grid {
    padding-top: 3rem;
}

.mdl-cell {
    /*overflow-y: auto;*/
}

.mdl-card {
    min-height: 240px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
    background-size: cover;
    overflow: hidden;
}

.mdl-card__title {
    max-width: 80%;
    padding-bottom: 0;
}

.mdl-card__title > h3 {
    min-height: 60px;
    display: inline-block;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 5px black;
}

.mdl-card__supporting-text {
    color: #fff;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
}

.mdl-card__supporting-text > span {
    padding-top: .5rem;
}

.mdl-card__supporting-text > span.authors {
    text-shadow: 0 0 5px black;
}

.mdl-card__supporting-text .tag {
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.mdl-card__supporting-text i.material-icons {
    font-size: 20px;
    position: relative;
    top: 0.35rem;
}

.mdl-card__supporting-text > .mdl-grid {
    padding: 0;
}

.mdl-card--bottom {
    bottom: 0;
    left: 0;
    min-height: 75px;
    padding-top: 1rem !important;
    position: absolute;
}

.mdl-card__menu {
    background: white;
    border-radius: 2rem;
}

.mdl-card__actions {
    background: rgba(0,0,0, 0.5);
    font-size: 14px;
    padding: .5rem 1rem;
    color: white;
}

.background {
    background-color: hsla(0,0%,0%,0.70);
    background-blend-mode: overlay;
    min-height: 300px;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.background:before {
    content: '';
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0,0,0,.1), transparent);
}

.right {
    text-align: right;
}

.particles-js-canvas-el {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: -1;
}

.illustration {
    background: url(./illustration.svg);
    min-width: 100%;
    height: 100%;
    max-height: 370px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.tags-wrapper {
    margin: 2rem auto;
    max-width: 70vw;
    position: relative;
    z-index: 3;
    text-align: left;
}
.tags-wrapper > .tag {
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.tag {
    font-weight: bold;
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgb(255, 64, 129);
    color: rgb(255, 64, 129);
    padding: 0.15rem .75rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 11px;
    white-space: nowrap;
    margin-bottom: .5rem;
}

.tag:hover {
    color: white;
    background: rgba(255, 64, 129, 0.75);
    text-decoration: none;
}

.tag.active {
    color: white;
    background: rgb(255, 64, 129);
    text-decoration: none;
}

.delete {
    position: relative;
    top: .25rem;
    font-size: 16px;
}

footer {
    position: relative;
    z-index: 3;
    /*margin-top: 3rem;*/
}

@media screen and (max-width: 840px){
    .illustration{
        height: 150px;
        width: 100%;
        background-position-x: center;
    }
}
@media screen and (max-width: 505px){
    .illustration{
        height: 150px;
        background-position-x: center;
    }
    .mdl-layout__header-row{
        padding: 0 16px;
    }
    .mdl-layout-title{
        text-align: left;
    }
    h2{
        font-size: 30px;
        line-height: 30px;
    }
    .tags-wrapper{
        text-align: center;
    }
    .mdl-mini-footer--link-list, .mdl-mini-footer__link-list{
        flex-direction: column;
    }
    .mdl-mini-footer--link-list, .mdl-mini-footer__link-list > li{
        margin-bottom: 1rem;
    }
    footer.ul>li{
        display: block;
    }
}
